{% load static %}

{% block title %}
	<h1>Dashboard Home</h1>
{% endblock %}

{% block content%}
<div id="menu" class="row center-block good">
	<div class="{% if data.show_blob_menu %}col-sm-3{% else %}col-sm-4{% endif %} text-center">
		<a href="{% url 'core_dashboard_profile' %}">
			<i class="fas fa-user fa-5x" aria-hidden="true" style="color: #EBB057;"></i>
		<br>
		My Profile
		</a>
	</div>
	<div class="{% if data.show_blob_menu %}col-sm-3{% else %}col-sm-4{% endif %} text-center">
		<a href="{% url 'core_dashboard_records' %}">
			<i class="fas fa-globe fa-5x" aria-hidden="true" style="color: #557EB9"></i>
		<br>
		My Resources
		</a>
	</div>
	<div class="{% if data.show_blob_menu %}col-sm-3{% else %}col-sm-4{% endif %} text-center">
	  <a href="{% url 'core_dashboard_workspaces' %}">
			<i class="fas fa-list-ul fa-5x" aria-hidden="true" style="color: #FF5E00;"></i>
		<br>
		My Workspaces
		</a>
	</div>
	{% if data.show_blob_menu %}
	<div class="col-sm-3 text-center">
	  <a href="{% url 'core_dashboard_files' %}">
			<i class="fas fa-file fa-5x" aria-hidden="true" style="color: grey;"></i>
		<br>
		My Files
		</a>
	</div>
	{% endif %}
</div>
{% endblock %}